:root {
  ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #efefef;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4;
  }
}
html,
body {
  background: #eff3f4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.hero-body .container {
  max-width: 700px;
}
.hero-body .title {
  color: hsl(192, 17%, 99%) !important;
}
.hero-body .subtitle {
  color: hsl(192, 17%, 99%) !important;
  padding-top: 2rem;
  line-height: 1.5;
}
.features {
  padding: 0;
}
.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}
.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.intro {
  padding: 5rem 0;
  text-align: center;
}
.sandbox {
  padding: 5rem 0;
}
.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}
/*adds font awesome stars*/
footer li:before {
  content: "\f1b2";
  font-family: "FontAwesome";
  float: left;
  margin-left: -1.5em;
  color: #147efb;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.6rem;
  margin-left: 16px;
}

.columns {
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 0 !important;
}

footer {
  margin-top: 20px;
}

.card {
  width: 100%;
}

img.modal-button {
  border-bottom: 1px solid #d6d6d6;
}

nav.box {
  height: 80px;
  border-radius: 0;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

#drawio-container {
  display: none;
  position: absolute;
  top: 80px; /* 顶部导航栏高度 */
  left: 0;
  height: calc(100% - 80px); /* 剩余的视窗高度 */
  width: 100%;
  overflow: hidden; /* 防止滚动条出现 */
}
#drawio-editor {
  width: 100%;
  height: 100%;
  border: none;
}